.homewrapper {
  background: url('../../assets/homebg.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 100%;
  overflow: hidden;

  .titleimg {
    left: 0;
    z-index: -1;
    top: -21px;
  }

  .hometitle {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
  }

  .homedesc {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    color: #444444;
  }

  .blackbgwrapper {
    background: linear-gradient(91.23deg, #0c0c0c 7.64%, #414141 93.6%);
    border: 2px dashed #fdba4f;
    border-radius: 6px;
    padding: 10px;
    width: fit-content;

    .blackbgItem {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #fdba4f;
    }

    td:first-child {
      padding-right: 10px;
      border-right: 1px solid #d9d9d9;
    }

    td:nth-child(2) {
      padding-left: 10px;
      border-right: 1px solid #d9d9d9;
      padding-right: 10px;
    }

    td:nth-child(3) {
      padding-left: 10px;
    }
  }

  .cardwrapper {
    background: linear-gradient(
      180deg,
      rgba(235, 194, 89, 0.3) 0%,
      rgba(235, 194, 89, 0) 100%
    );
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #444444;
    }

    .mapbtn {
        box-shadow: 20px 10px 30px rgba(222, 164, 70, 0.6);
      background: linear-gradient(288.94deg, #D49D44 28.63%, #FDBA4F 54.35%);
      padding: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #ffffff;
      transition: all 0.25s;
      transform: skewX(-10deg);
    }



    .mapbtn:hover {
      transform: translateX(11px) translateY(14px);
    }
  }

  .phone {
    // width: 500px;
    // height: 500px;
    height: 468px;
    z-index: -1;


  }

  .cloud1 {
    position: absolute;
    bottom: 0px;
  }

  .cloud2 {
    left: 700px;
    position: absolute;
    bottom: 0px;
    scale: 1.3;
  }

  .cloud3 {
    right: 0;
    position: absolute;
    bottom: 0px;
    scale: 1.3;
  }
}

.imgwrapper {
  position: relative;
  top: -158px;

  
}

.cone {
  // top: -240px;
  // left: -130px;
  position: relative;
  filter: drop-shadow(0px 6px 44px rgba(0, 0, 0, 0.25));
}

.comingsoon {
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.25));
}


@media only screen and (max-width: 1199px) {
  .phone {
      position: relative;
  z-index: 2 !important;
  }

  .window {
    // width: 100%;
  }

}

.mobileimgs {
  display: none;
}


@media only screen and (max-width: 768px) {
  .imgwrapper {
    position: absolute;
    top:  -147px !important;
    right: 50px !important;
  }

  .comingsoon {
    height: 150px;
    position: relative;
    top: 0px;

  }


  .conewrapper {
    display: none !important;
  }


}


@media only screen and (max-width: 500px) {
  .hometitle {
   font-size: 26px !important;
  }

  .mobileimgs {
        display: flex !important;
    position: relative;
    justify-content: end;
  }

  .homedesc {
    font-size: 12px !important;
  }

  .homewrapper {
    background-position: 27px -153px !important;
    background-size: cover !important;
  }

  .imgwrapper {
    position: absolute;
    top:  -130px !important;
    right: 50px !important;
  }


  .imgcone {
    height: 70px;
    position: relative;
    right: -118px;
    scale: 1.5;
    top: 61px;
  }

  .imgwindow {
    height: 110px;
    scale: 1.4;
    position: relative;
    right: -136px;
    top: 15px;
  }

  .imgcloud {
    width: 194px;
    height: 73px;
    position: relative;
    top: 70px;
    scale: 1.2;
    right: -14px;

  }
  .phone {
    scale: 0.9;
    top: -32px;
    position: relative;
    right: 80px;
    z-index: 0 !important;
  }

  .cloud3 { 
    scale: 1 !important;
    bottom: -70px !important;

  }

}

.containerwrapper {
  top: 67px;
    padding-top: 12px;
}